<form [formGroup]="userForm">
  <h4>Client Configurations</h4>
  <section class="container">
    <section>
      <mat-form-field>
        <mat-label>Url</mat-label>
        <input type="url" matInput formControlName="url">
      </mat-form-field>
      <p class="array">{{ errorMessage }}</p>
      <mat-form-field>
        <input type="url" matInput formControlName="random"> 
      </mat-form-field>
      <button mat-button color="accent" (click)="getRandomString()"> Generate </button>
      <section formGroupName="grantTypes">
        <h6>Grant types</h6>
        <p>
          <mat-checkbox formControlName="authorization_code">AUTHORIZATION_CODE</mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="client_credentials">CLIENT_CREDENTIALS</mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="extension">EXTENSION</mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="refresh_token">REFRESH_TOKEN</mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="resource_owner_credentials">RESOURCE_OWNER_CREDENTIALS</mat-checkbox>
        </p>
      </section>
    </section>
    <section formGroupName="restrictToScope">
      <h6>Restrict to Scopes</h6>
      <p>
        <mat-checkbox formControlName="open_id">openid</mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="profile">profile</mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="read">read</mat-checkbox>
      </p>
    </section>
    <div *ngFor="let showMessage of showMessages" class="array">
      {{showMessage}}
    </div>
  </section>
</form>